<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	 version="6.0">

    <!--Login page Connection-->
    <servlet>
        <servlet-name>ldata</servlet-name>
        <servlet-class>com.BankSystem.StoreData</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ldata</servlet-name>
        <url-pattern>/Login_A</url-pattern>
    </servlet-mapping>
    
    
     <!--create account COnnection-->
       <servlet>
        <servlet-name>adata</servlet-name>
        <servlet-class>com.BankSystem.AccountData</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>adata</servlet-name>
        <url-pattern>/c_account</url-pattern>
    </servlet-mapping> 
    
    
    <servlet>
        <servlet-name>balance</servlet-name>
        <servlet-class>com.BankSystem.CheckBalance</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>balance</servlet-name>
        <url-pattern>/C_Balance</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>debit</servlet-name>
        <servlet-class>com.BankSystem.CheckBalance</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>debit</servlet-name>
        <url-pattern>/D_Balance</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
</web-app>
